nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: white; */
    padding: 23px  0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(19.7px);
    -webkit-backdrop-filter: blur(19.7px);
    border: 1px solid rgba(255, 255, 255, 0.33);
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: unset !important;
}

.nav-links li{
    position: relative;
}
.nav-links li .cart-item{
    color:white;
    background:red;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.nav-links .navlink {
    padding: 26px;
}